name: CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        os: ["macos-latest", "windows-latest", "ubuntu-latest"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 22.21.1
        uses: actions/setup-node@v3
        with:
          node-version: 22.21.1

      - run: npm ci

      - run: npm run lint

      - run: npm test

      - run: npm run build